<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @person.account_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @person.room_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
